<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a href="" class="navbar-brand">My Store</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home/product/gallary" class="nav-link">Gallary</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/order/order-history" class="nav-link">My Orders</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/product/cart" class="nav-link">Cart</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/user/profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a (click)="onLogout()" class="nav-link pointer">Logout</a>
          </li>
        </ul>
    </div>
  </nav>

  <div class="container">
      <router-outlet></router-outlet>
  </div>